<li>

    <p>
        <% if (locals.user && (locals.user.id == comment.user.id || post.user.id == locals.user.id)){ %>
        <small class="delete">
             <a href="/comments/destroy/<%= comment.id %>">Delete Comment</a>
        </small>
        <% } %>
        <%= comment.content%>
        <br>
        <small>
             <%= comment.user.name%>
        </small>
   </p>

</li>