body {
  background-color: #4a4a4a;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif; }
  body ::placeholder {
    opacity: 1;
    color: azure; }
  body #layout-main {
    margin-top: 50px; }
  body .page-heading {
    margin-top: 50px;
    padding: 1rem;
    width: 100%; }
  body footer {
    background-color: darkseagreen;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px; }
  body .login-signup-btn {
    height: auto;
    width: auto;
    padding: 0.5rem;
    border-radius: 0.3rem;
    background: #fff;
    outline: none;
    border: none;
    color: #000;
    cursor: pointer; }
